version: '3.9'

services:
  # ---- App Profile ----
  api:
    build: ./cloud_api
    container_name: fastapi_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --backlog 4096
    volumes:
      - ./cloud_api:/app
      - ./logs:/data
    mem_limit: 1gb
    restart: on-failure
    depends_on:
      vehicle:
        condition: service_started
    ports:
      - "8000:8000"
    ulimits:
      nofile:
        soft: 200000
        hard: 200000
    profiles:
      - app

  nginx:
    build: ./nginx
    container_name: nginx_proxy
    ports:
      - "8080:80"
    depends_on:
      - api
    restart: on-failure
    ulimits:
      nofile:
        soft: 200000
        hard: 200000
    profiles:
      - app

  car_app:
    build: ./car_app
    container_name: car_client
    command: python send_command.py
    depends_on:
      - nginx
    restart: on-failure
    profiles:
      - app

  vehicle:
    build: ./vehicle_simulator
    container_name: vehicle_simulator
    command: uvicorn simulator:app --host 0.0.0.0 --port 8001
    restart: on-failure
    profiles:
      - app

  # ---- Agent Profile ----
  ai_agent:
    build: ./ai_agent
    container_name: ai_agent
    command: python main.py
    volumes:
      - .:/app/source
      - ./docker-compose.yaml:/app/source/docker-compose.yaml:ro
    environment:
      # 実行時にOpenAIのAPIキーを設定してください
      - OPENAI_API_KEY=
    profiles:
      - agent

